/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/*===== VARIABLES CSS =====*/
:root{
  --nav-width: 92px;

  /*===== Colores =====*/
  --first-color: #3C7EF3;
  --bg-color: #133159;
  --darkText-color:#333333;

  --lightGreen-color: #68EBCA;
  --sub-color: #B6CEFC;
  --white-color: #FFF;
  --gray-color: #E5E8EF;
  --grayLight-color: #F6F7FB;
  --grayDark-color: #546376;
  --lightGrayDark-color: #99A6B9;
  --red-color:#FF264A; 
  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif; 
  --small-font-size: 16px;     
  --header1-font-size:96px; 
  --header2-font-size:60px; 
  --header3-font-size:48px; 
  --header4-font-size:32px; 
  --header5-font-size:24px; 
  --header6-font-size:20px; 
  --subtitle1-font-size:16px; 
  --subtitle2-font-size:14px; 
  --body1-font-size:16px; 
  --body2-font-size:14px; 
  --button-font-size:14px; 
  /*===== z index =====*/
  --z-fixed: 100;
} 
/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image:  linear-gradient(to bottom, #133159 0%,#133159  100%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background-image:  linear-gradient(to bottom, #133159 0%, #133159 100%);
}
/*===== input field placeholder =====*/
::placeholder {
  color: var(--grayDark-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: var(--grayDark-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: var(--grayDark-color);
}
/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  padding: 2rem 0 0 6.75rem;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  transition: .5s;
  background:var(--gray-color)
}
h1{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
} 
.padding0{
  padding: 0 !important;
}
/*===== TOP NAV =====*/
.top__nav {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 999;
  top: 0;
  background-color: var(--bg-color);
}
.top__nav_ber {
  box-shadow: none;
}
.nav-wrapper{
  padding:15px;
}
.brand-logo_img{
  padding:0 15px;
}
.ser_input{
  background-color:  var(--gray-color) !important;
  height: 40px !important; 
  border-radius: 10px !important;
  box-shadow: inset -4px -4px 2px #FFFFFF, inset 4px 4px 2px rgba(8, 20, 36, 0.1) !important; 
  padding: 0 0 0 5px !important;
  margin: 0 !important;
  width: 300px !important;
}
.top__search {
  position: relative;
}
.ser__icon{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  color: var(--bg-color);
  right: 0;
}
.top__ul{
  padding:5px;
}
.top__ul li{
  float: left;
}
.ser__li{
  margin-right: 50px;
} 
.top_li_icons{
  display:flex;
}
.icon__top{
  padding: 12px;
}
.ico_span{
    background: var(--first-color);
    height: 40px;
    width: 40px;
    display: grid;
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.16);
}
.ico_span:hover {
  background: var(--lightGreen-color);
}
.top__notifi{
  position: relative;
}
.badge_notifi {
  position: absolute;
  background: var(--red-color);
  width: 13px;
  height: 14px;
  font-size: 10px;
  padding: 0px 2px;
  border-radius: 50px;
  left: 30px;
  top: 4px;
  color: var(--white-color);
  border: 0.5px solid var(--white-color);
}
.ad__span{
  display:flex;
} 
.ad__img{
  padding: 0px 15px;
}
.ad__p{
  margin: 0;
  font-size: 18px;
  line-height: 19px;
  color: var(--white-color);
}
.ad__p_span{
  font-size: 12px;
  line-height: 18px;
}
.ad_arrow_down{
  color: var(--white-color);
  margin-top: 5px;
}
/*===== l SIDE NAV =====*/
.nav__link img {
  width: 25px;
}
.l-navbar{
  position: absolute;
  top: 30px;
  left: 0;
  width: var(--nav-width);
  /* height: 150vh; */
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 5.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
}
/*=====SIDE NAV =====*/
.side__nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: unset;
  line-height: unset;
  box-shadow: unset;
}
.nav__brand{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav__toggle{
  font-size: 1.25rem;
  padding: .75rem;
  cursor: pointer;
}


.nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}
.nav__link:hover{
  background-color: var(--first-color);
} 
.nav__name{
  font-size: var(--small-font-size);
}

/*Expander menu*/
.expander{
  width: calc(var(--nav-width) + 9.75rem);
}

/*Add padding body*/
.body-pd{
  padding: 2rem 0 0 16rem;
}

/*Active links menu*/
.active{
  background-color: var(--first-color);
}

/*===== COLLAPSE =====*/
.collapse{
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}
.collapse__menu{
  display: none;
  padding: .75rem 2.25rem;
}
.collapse__sublink{
  color: var(--sub-color);
  font-size: var(--small-font-size);
}
.collapse__sublink:hover{
  color: var(--white-color);
}

/*Show collapse*/
.showCollapse{
  display: block;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}
/* main section */
.main_section{
  background:var(--white-color);
  margin: 30px;
  margin-top: 80px;
  padding:20px;
}
.main__title{
  font-size: var(--header5-font-size);
  font-weight: 500;
  color: var(--darkText--color); 
}
.mainOne {
  display: flex;
  justify-content: space-between;
} 
.deal_layout {
  display: flex;
} 
.dealMenu {
  background: var(--grayLight-color);
  margin: 1px;
  height: 40px;
  width: 40px;
  display: inline-block;
} 
.dealMenu.icon_active {
  background: var(--bg-color);
}
.dealMenu_icon {
  padding: 12px;
}
.deal__btn_ico {
  height: 26px;
  width: 26px;
  background: var(--white-color);
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  margin: 0 8px 0px 0px;
} 
.deal__btn_ico img{
  z-index: 1;
  padding:2px;
}
.btnDeal {
  background: var(--first-color);
  padding: 8px;
  border-radius: 5px;
  display: inline-flex;
  color: var(--white-color);
  margin: 0 0 0 20px;
}
.btn_deal_layout {
  display: -webkit-inline-box;
}
.btnDeal_hide {
  display: flow-root;
  margin: 0px 15px;
}
/* second divider */
.select__area {
  display: flex;
  justify-content: space-between;
} 
.select__deal {
  display: -webkit-box;
  margin: 20px 0;
} 
.deal_select{
  border-radius: 6px;
  border: 1px solid var(--bg-color);
  margin: 0px 20px 0 0px;
  color: var(--darkText-color);
  font-weight: 400;
  height: 40px;
}
.deal_select_one{
  width: 300px; 
}
.deal_select_two{
  width: 128px; 
}
.deal_select_three{
  width: 72px; 
  font-family: 'FontAwesome' , 'TATSanaChon';
}
.deal_t_search{
  border: 1px solid #000 !important;
  border-radius: 25px !important;
  padding: 0px 0px 0px 11px !important;
  width: 275px !important;
  height: 40px !important;
}
.ser_icon2{
  top: 22px;
    right: 5px;
}
/* third layout */
.step{
  margin-bottom: 15px;
}
.arrow__step{
  display: flex;
  justify-content: space-between;
}
.ico_step_span{
  display: table-row-group;
}
.arr__step_sp p{
  margin :0;
  font-weight: 700;
}
span.rol {
  height: 7px;
  width: 8px;
  background: #C4C4C4;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  margin: 2px 15px;
}
.text_color{
  color: var(--bg-color);
  font-weight: 700;
}
.chevronlabel {
  background: #E3EBFA;
  width: 23%;
  height: 90px;
  display: inline-block;
  color: var(--bg-color);
  box-sizing: border-box;
  font-family: Arial;
  padding: 22px 0px 13px 40px;
  position: relative;
}

.chevronlabel:before {
  content: '';
  position: absolute;
  right: -23px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 45px solid transparent;
  border-left: 23px solid rgba(60, 126, 243, 0.1);
  border-bottom: 45px solid transparent; 
}

.chevronlabel:after {
  border-style: solid;
  border-color: var(--grayLight-color);
  border-width: 17px 17px 0 0;
  content: '';
  display: inline-block;
  height: 45px;
  width: 45px;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: rotate(-45deg);
  vertical-align: top;
  transform: rotate(45deg) skew(20deg, 20deg) translate(-50%);
}
.chevronlabelOne:after {
  border-style: none;
}
.chevronlabelThree:after {
  left: -11px;
}
.chevronlabelOne{
  margin:0 12px;
}
.chevronlabelThree{
  margin:0 12px;
}
/* four layout */
.full_card_layout2{
    height: 650px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    border: 1px solid #E5E8EF;
}
.full_card_layout {
  border: 1px solid #E5E8EF;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 0px 10px 0px 10px;
  height: 650px;
  overflow-y: scroll;
}
.card_ico_layout {
  padding: 20px;
  display: flex;
  justify-content: space-between;
} 
.carDek{
  box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
  border-radius: 10px;
}
.card__icon {
  display: inline-flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #E5E8EF;
  margin: 0px 3px;
} 
.card__icon img {
  padding: 8px;
}
.card__icon_span{
  background: var(--bg-color);
}
.card__icon_span img{
  margin: 0px 2px;
}
.ful_dashboard {
  background: var(--grayLight-color);
  border-radius: 10px;
  padding: 20px;
}
.card__content{
  padding: 20px 24px 0 !important;
}
.card__p1{
  color: var(--darkText-color);
  font-weight: 700;
}
.card__p1 span{
  color: var(--first-color);
}
.card__p2{
  color: var(--lightGrayDark-color);
}
.add_icon {
  background: var(--first-color);
  display: inline-block;
  height: 26px;
  width: 26px;
  border-radius: 50%;
}
.icon__top2{
  padding:8px;
}

.add_deal p{
  color: var(--lightGrayDark-color);
  font-weight: 400;
}
.deal__icon_plus {
  display: flex;
  justify-content: center;
}
.deal__icon_plus p{
  color: var(--darkText-color);
  margin: 1px 15px;
}
.btn_outline{
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 13px;
  height: 50px;
  border-radius: 6px;
  
}
.btn_outline1{
  color:#FF5858;
  border: 1px solid #FF5858;
}
.btn_outline2{
  color: #6FCF97;
  ;
  border: 1px solid #6FCF97;
}
.btn_outline3{
  color #FF5858;
  border: 1px solid #FF5858;
}
.btn_outline4{
  color:#FFB053;
  border: 1px solid #FFB053;
}
.btn_outline img{
  margin: -3px 7px;
}
